<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
What are your contact details?
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->

{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">

      <!-- Go back -->
      <br>
      <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="why-are-you-contacting-the-NHS-website-team-today">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
      
                  Go back
              </a>
      </div>
      
      <!-- Details -->      
      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">

        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              <form method="post" action="tell-us-why-you-are-contacting-the-NHS-website-team">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                      What are your contact details?
                    </h1>
                  </legend>
    
                    <div class="nhsuk-hint" id="contact-hint">
                    We'll only use your contact details to reply to you.
                    </div>
    
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="email-address">Email address </label>
                        <span id="email-address-error" class="field-validation-valid" data-valmsg-for="email-address" data-valmsg-replace="true"></span>
                        <input class="nhsuk-input" aria-describedby="email-address-error" autocomplete="given-name" type="text" data-val="true" data-val-maxlength="Enter a valid email address" data-val-maxlength-max="35" data-val-required="Enter your email address" id="email-address" maxlength="35" name="email-address" value="">
                    </div>
    
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="full-name">Full name (optional)</label>
                        <span id="lastname-error" class="field-validation-valid" data-valmsg-for="full-name" data-valmsg-replace="true"></span>
                        <input class="nhsuk-input" autocomplete="full-name" type="text" data-val="true" data-val-maxlength="" data-val-maxlength-max="35" id="LastName" maxlength="50" name="full-name" value="">
                    </div>
    
                </fieldset>
    
                <form action="tell-us-why-you-are-contacting-the-NHS-website-team" method="post">
                  <button class="nhsuk-button" data-module="nhsuk-button" type="submit" method="post">
                    Continue
                  </button>
                </form>
    







              
              </div>

            </div>
          </div>
        </article>

      

      </fieldset>


</main>
</div>

  </main>
</div>
{% endblock %}

