<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  What topic do you need help with?
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->

{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">

            
      <!-- Go back -->
      <br>
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="why-are-you-contacting-the-NHS-website-team-today">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>

            Go back
        </a>
      </div>
      

      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What topic do you need help with?
              </h1>
            </legend>
          </div>
        </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <div class="nhsuk-form-group">

                {% from 'radios/macro.njk' import radios %}

                <form action="/contact-us-3/form/what-topic-do-you-need-help-with" method="post">

                {{ radios({
                  "idPrefix": "whyContact",
                  "name": "whyContact",
                  "fieldset": {
                    "legend": {
                      "classes": "nhsuk-fieldset__legend--l",
                      "isPageHeading": true
                    }
                  },
                  "items": [
                    {
                      "value": "book-change-cancel-appointment",
                      "text": "Book, change or cancel an appointment"
                    },
                    {
                      "value": "give-feedback-or-complaint",
                      "text": "Make an official complaint"
                    },                    
                    {
                      "value": "get-medical-help",
                      "text": "Get medical help"
                    },
                    {
                      "value": "contact-nhs-login-support",
                      "text": "Need help with the NHS App"
                    },

                    {
                      "value": "contact-nhs-login-support",
                      "text": "Need help with NHS Login"
                    }
                  ]
                }) }}


                <div class="nhsuk-u-padding-bottom-4">
              </form>

              {{ button({
                "text": "Continue"
              }) }}

              </div>

            </div>
          </div>
      </main>

    
    </div>
  </main>
</div>
{% endblock %}

