<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Sorry, the website team can only help with the NHS website
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->

{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">

            <!-- Go back -->
            <br>

            
            <!-- Details -->      


      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <br>
            <h1 class="nhsuk-heading-l">Sorry, the website team can only help with messages about the NHS website</h1>
          </div>
        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <p>If you have other questions:</p>
              <ul>
                <li><a href="https://www.england.nhs.uk/contact-us/feedback-and-complaints">Find out about giving feedback or making a complaint on the NHS England website</a></li>
                <li><a href="../book-cancel-appointment">Find out how to book, cancel or change an appointment </a></li>
                <li><a href="../get-medical-help">Where to get medical help</a></li>
                <li><a href="https://www.nhs.uk/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health">Where to get urgent help for mental health</a></li>
                <li><a href="https://www.nhs.uk/contact-us/nhs-app-contact-us">Contact the NHS app and account team</a></li>
                <li><a href="https://www.nhs.uk/contact-us/find-out-how-leave-review-of-nhs-service">Find out how to leave a review of an NHS service</a>, such as a GP surgery or hospital</li>
                
    
              </ul>

              <p>Find other ways to <a href="../contact-the-nhs">contact the NHS</a>.</p>
            </div>
          </div>
        </article>






</main>
</div>

  </main>
</div>
{% endblock %}

