<!-- Extends the layout from /views/layout.html -->
{% extends 'template-2.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Digestive health - NHS
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/sub-topic-2/live-well" class="nhsuk-breadcrumb__link">Live Well</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/sub-topic-2/eat-well" class="nhsuk-breadcrumb__link">Eat Well</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Digestive health</h1>
      <p class="nhsuk-lede-text">
        Information and advice about foods that help your digestion, including how to eat more fibre.
      </p>
    </div>

    <article>
      <div class="nhsuk-u-reading-width">
        <section>
          <h2>Diet tips</h2>
          <ul class="nhsuk-hub-key-links beta-hub-key-links">
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="/sub-topic-2/fibre-intake">
                How to get more fibre into your diet
              </a>
            </li>
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href=""javascript:void(0);"">
                Good foods to help your digestion
              </a>
            </li>
          </ul>

          <h2>Lifestyle advice</h2>
          <ul class="nhsuk-hub-key-links beta-hub-key-links">
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href=""javascript:void(0);"">
                5 lifestyle tips for a healthy tummy
              </a>
            </li>
          </ul>
         
        </section>
        
      </div>
    
    
    
        </article>


  </div>
</div>
{% endblock %}

