<!-- Extends the layout from /views/layout.html -->
{% extends 'template-2.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Digestive health - NHS
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/sub-topic-2/live-well" class="nhsuk-breadcrumb__link">Live Well</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/sub-topic-2/eat-well" class="nhsuk-breadcrumb__link">Eat well</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/sub-topic-2/digestive-health" class="nhsuk-breadcrumb__link">Digestive health</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>How to get more fibre into your diet</h1>
      </div>
    </div>

    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <section>
            <figure class="nhsuk-image">
              <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-320.jpg" sizes="(min-width: 1020px) 320px(min-width: 768px) 50v100vw" srcset="https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-320.jpg 320w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-510.jpg 510w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-640.jpg 640w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-767.jpg 767w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-1019.jpg 1019w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-1125.jpg 1125w,https://assets.nhs.uk/nhsuk-cms/images/T_1117_fibre-food-and-diet_637258100.width-1534.jpg 1534w," alt="A small handful of plain almonds">
              <div class="nhsuk-u-visually-hidden" aria-hidden="true">
                Credit: <p data-block-key="doku1">photominus / Thinkstock https://www.istockphoto.com/gb/photo/close-up-of-woman-holding-glass-bowl-with-almonds-nuts-gm637258100-113576151 The stock library no longer exists. Image was incorporated into the webpage during the subscription term and can be used indefinitely in the same page - subject to thinkstock subscription rules.More info is at the bottom of this page regarding ThinkStock licensing: https://confluence.service.nhs.uk/display/VP/Photography+stock+sites</p>
              </div>
            </figure>
            <p><b>Most of us need to eat more fibre and have fewer added sugars in our diet. Eating plenty of fibre is associated with a lower risk of heart disease, stroke, type 2 diabetes and bowel cancer.</b></p>
            <p>Government guidelines say our dietary fibre intake should increase to 30g a day, as part of a healthy <a href="">balanced diet</a>. As most adults are only eating an average of about 20g day, we need to find ways of increasing our intake.</p>
            <p>Children don't need as much fibre in their diet as older teenagers and adults, but they still need more than they get currently:</p>
            <ul>
              <li>2 to 5 year-olds: need about 15g of fibre a day</li>
              <li>5 to 11 year-olds: need about 20g</li>
              <li>11 to 16 year-olds: need about 25g</li>
            </ul>
            <p>On average, children aged 11 to 18 are getting 16g a day. Encouraging them to eat plenty of fruit and vegetables and starchy foods (choosing wholegrain versions and potatoes with the skins on where possible) can help to ensure they are eating enough fibre.</p>
          </section>
          
          <section>
            <h2>Why do we need fibre in our diet?</h2>
            <p>There is strong evidence that eating plenty of fibre (commonly referred to as roughage) is associated with a lower risk of <a href="">heart disease</a>, <a href="">stroke</a>, <a href="">type 2 diabetes</a> and <a href="">bowel cancer</a>.</p>
            <p>Choosing foods with fibre also makes us feel fuller, while a diet rich in fibre can help digestion and prevent <a href="">constipation</a>.</p>
          </section>
          
          <section>
            <h2>Tips to increase your fibre intake</h2>
            <p>It's important to get fibre from a variety of sources, as eating too much of one type of food may not provide you with a healthy balanced diet.</p>
            <p>To increase your fibre intake you could:</p>
            <ul>
              <li>Choose a higher-fibre breakfast cereal such as plain wholewheat biscuits (like Weetabix) or plain shredded whole grain (like Shredded wheat), or porridge as oats are also a good source of fibre.</li>
              <li>Go for wholemeal or granary breads, or higher fibre white bread, and choose wholegrains like wholewheat pasta, bulgur wheat or brown rice.</li>
              <li>Go for potatoes with their skins on, such as a baked potato or boiled new potatoes. Find out more about <a href="">starchy foods and carbohydrates</a>.</li>
              <li>Add pulses like beans, lentils or chickpeas to stews, curries and salads.</li>
              <li>Include plenty of vegetables with meals, either as a side dish or added to sauces, stews or curries. Find out more about <a href="">how to get your 5 A Day</a>.</li>
              <li>Have some fresh or dried fruit, or fruit canned in natural juice for dessert. Because dried fruit is sticky, it can increase the risk of tooth decay, so it's better if it is only eaten as part of a meal, rather than as a between-meal snack.</li>
              <li>For snacks, try fresh fruit, vegetable sticks, rye crackers, oatcakes and unsalted nuts or seeds.</li>
            </ul>
          </section>

          <section>
            <h2>Fibre in your daily diet</h2>
            <p>Listed below is the fibre content of some example meals.</p>
            <h3>Fibre at breakfast</h3>
            <p>Two thick slices of wholemeal toasted bread (6.6g of fibre) topped with one sliced banana (1.4g) and a small glass (150ml) of fruit juice (1.2g) will give you around 9.2g of fibre.</p>
            <h3>Fibre at lunch</h3>
            <p>A baked jacket potato with the skin on (4.7g) with around half a can (about a 200g portion) of reduced-sugar and reduced-salt baked beans in tomato sauce (9.8g) followed by an apple (1.2g) will give you around 15.7g of fibre.</p>
            <h3>Fibre at dinner</h3>
            <p>Mixed vegetable tomato-based curry cooked with onion and spices (6.6g) with boiled wholegrain rice (2.7g) followed by a lower fat fruit yoghurt (0.4g) will give you around 9.7g of fibre. Bear in mind that fruit yoghurts can sometimes be high in added sugars, so check the label and try to choose lower-sugar versions.</p>
            <h3>Fibre as a snack</h3>
            <p>A small handful of nuts (30g), such as almonds, can have around 3.8g of fibre. Make sure you choose unsalted nuts without added sugars.</p>
            <p><b>Total: Around 38g of fibre</b></p>
            <h3>Fibre on food labels</h3>
            <p>The above example is only an illustration, as the amount of fibre in any food can depend on how it is made or prepared and on how much of it you eat. Most pre-packaged foods have a <a href="">nutrition label</a> on the side or back of the packaging, which can include a guide about how much dietary fibre the food contains.</p>
          </section>
        
        </div>
      </div>
    </article>

    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="nhsuk-u-font-size-24 nhsuk-u-padding-bottom-3">
          More in
          <a href="/sub-topic-2/digestive-health/">Digestive health</a>
        </h2>
        <nav role="navigation" class="beta-hub-sibling-nav">
          <ul class="beta-hub-sibling-nav__list">
            <li class="beta-hub-sibling-nav--current" aria-current="true">
              How to get more fibre into your diet
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a href="">
                Good foods to help your digestion
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a href="">
                5 lifestyle tips for a healthy tummy
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    
    <div>
      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
        Page last reviewed: 13 July 2022
        <br>
        Next review due: 13 July 2025
      </p>
    </div>



  
</main>
</div>
{% endblock %}

