<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Contact the NHS website
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/home" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/contact-us/index-v2" class="nhsuk-breadcrumb__link">Contact us</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>Check your answers</h1>
          </div>
        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <p>Check your answers before you submit them.</p>

              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Why do you want to contact the NHS website team?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    To ask a question or give feedback
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/contact-us/form/why-contact">
                      Change<span class="nhsuk-u-visually-hidden"> reason</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Full name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Joe Bloggs
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/contact-us/form/contact-details">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    joebloggs@outlook.com
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/contact-us/form/contact-details">
                      Change<span class="nhsuk-u-visually-hidden"> email address</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you work for an NHS organisation
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>No</p>
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/contact-us/form/work-for-nhs">
                      Change<span class="nhsuk-u-visually-hidden"> answer</span>
                    </a>
              
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Give your feedback or describe the issue
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>Noticed there is a spelling error in the Type 1 diabetes content.</p>
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="/contact-us/form/give-feedback">
                      Change<span class="nhsuk-u-visually-hidden"> query information</span>
                    </a>
              
                  </dd>
              
                </div>
              
              </dl>

              <div class="nhsuk-u-padding-bottom-3"></div>

              <form>

                <div class="nhsuk-form-group">
              
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Privacy policy agreement
                      </h1>
                    </legend>
              
                    <div class="nhsuk-hint" id="example-hint">
                      You must confirm you have read and understood our <a href="javascript:void(0);">privacy policy</a> (opens in a new tab) before sending.
                    </div>
              
                    <div class="nhsuk-checkboxes">
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          I have read and understood the privacy policy
                        </label>
                      </div>
              
                    </div>
                  </fieldset>
              
                </div>

                <div class="nhsuk-u-padding-bottom-5"></div>
              
              </form>
              <form action="/contact-us/form/confirmation" method="get">
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit" method="get">
                  Next
                </button>
              </form>

            </div>
          </div>
        </article>

        




</main>
</div>

  </main>
</div>
{% endblock %}

