<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Contact the NHS website
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/home" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/contact-us/index" class="nhsuk-breadcrumb__link">Contact us</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>Why do you want to contact the NHS website team?</h1>
          </div>
        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <div class="nhsuk-form-group">

                {% from 'radios/macro.njk' import radios %}

                {{ radios({
                  "idPrefix": "example",
                  "name": "example",
                  "fieldset": {
                    "legend": {
                      "classes": "nhsuk-fieldset__legend--l",
                      "isPageHeading": true
                    }
                  },
                  "items": [
                    {
                      "value": "yes",
                      "text": "To ask a question or give feedback about the NHS website"
                    },
                    {
                      "value": "yes",
                      "text": "To report an accessibility problem with the NHS website"
                    },
                    {
                      "value": "no",
                      "text": "Something else"
                    }
                  ]
                }) }}

              
                <div class="nhsuk-u-padding-bottom-5"></div>


                <form action="" method="get">
                  <button class="nhsuk-button" data-module="nhsuk-button" type="submit" method="get">
                    Continue
                  </button>
                </form>
              
              </div>

            </div>
          </div>
        </article>

        




</main>
</div>

  </main>
</div>
{% endblock %}

