<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
    Tell us more about the mistake you want to report
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->

{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">

      <!-- Go back -->
      <br>
      <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="what-are-your-contact-details2">
                  <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
                  Go back
              </a>
      </div>
      
      <!-- Details -->      
      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">

        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

                 <!--<form method="post" action="do-you-want-a-response-about-the-outcome-of-your-feedback">-->      

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                      Tell us more about the mistake you want to report
                    </h1>
                  </legend>
    
    
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="placeholder1">Your message</label>
                        <span id="placeholder1-error" class="field-validation-valid" data-valmsg-for="placeholder1" data-valmsg-replace="true"></span>
                        <input class="nhsuk-input" aria-describedby="placeholder1-error" autocomplete="given-name" type="text" data-val="true" data-val-maxlength="Enter a valid email address" data-val-maxlength-max="35" data-val-required="Enter your email address" id="placeholder1" maxlength="35" name="placeholder1" value="{{ data['placeholder1'] }}" type="text">
                    </div>
    
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="placeholder2">URL of the page with the mistake (optional)</label>

                        <div class="nhsuk-hint" id="contact-hint">
                          For example, https://www.nhs.uk/conditions/chickenpox/
                        </div>

                        <span id="placeholder2-error" class="field-validation-valid" data-valmsg-for="placeholder2" data-valmsg-replace="true"></span>
                        <input class="nhsuk-input" autocomplete="placeholder2" type="text" data-val="true" data-val-maxlength="" data-val-maxlength-max="35" id="placeholder2" maxlength="50" name="placeholder2" value="{{ data['placeholder2'] }}" type="text">
                    </div>
    
                </fieldset>

                
    
                <form action="do-you-want-a-response-about-the-outcome-of-your-feedback2" method="post">
                  <button class="nhsuk-button" data-module="nhsuk-button" type="submit" method="post">
                    Continue
                  </button>
                </form>
  
              
            </div>

          </div>
        </article>


      </main>
    </div>

  </main>
</div>
{% endblock %}

