<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Sorry, the website team can only help with the NHS website
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->

{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">

            <!-- Go back -->
            <br>

            
            <!-- Details -->      


      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <br>
            <h1 class="nhsuk-heading-l">Sorry, the website team can only help with the NHS website.</h1>
          </div>
        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <p>Find out how to <a href="../contact-the-nhs">contact the NHS</a> for any other reason.</p>
             
            </div>
          </div>
        </article>






</main>
</div>

  </main>
</div>
{% endblock %}

