<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Your message has been submitted
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">

  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" role="main">
    <div class="nhsuk-width-container">
      

      <!-- Details -->      
      <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1>Your message has been submitted</h1>
          </div>
        </div>
        <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <p>Thank you for contacting the NHS website team.</p>
              <p>We will aim to respond within 2 working days.</p>

              <p>If the NHS website team cannot help, you may be asked to contact another service.</p>

              <p></p>

            </div>
          </div>
        </article>

</div>

  </main>
</div>
{% endblock %}

