<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Give feedback about the NHS website
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/home" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Give feedback about the NHS website</h1>
    </div>

    <article>
    
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="i-want-to-report-a-mistake-on-the-nhs-website/what-are-your-contact-details2">
                  I want to report a mistake on the NHS website
                </a>
              </h2>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="i-want-to-make-a-suggestion-about-the-nhs-website/what-are-your-contact-details2">
                  I want to make a suggestion about the NHS website
                </a>
              </h2>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="I-want-to-get-more-information-about-the-nhs-website/what-are-your-contact-details2">
                  I want to get more information about the NHS website
                </a>
              </h2>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <hr>
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2>Other ways to get help or give feedback about the NHS</h2>

            <a href="">NHS England: Feedback and complaints about NHS services</a>
            <p>www.england.nhs.uk</p>
            <p><a href="">Contact the NHS App and account team</a></p>
            <p><a href="">How to book, cancel or change an appointment</a></p>
            <p><a href="">How to leave a review of an NHS service, such as a GP surgery or hospital</a></p>


        <section>
          <div class="nhsuk-warning-callout">
            <h2 class="nhsuk-warning-callout__label">
              
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                To get medical help
              </span>
              
            </h2>
              <ul>
                <li><a href="https://111.nhs.uk/">Get help from NHS 111 online</a> or call 111 if you need medical help right now.</li>
                <li>Call 999 if you need medical help for a life-threatening emergency.</li>
                <li><a href="/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health/">Find out where to get urgent help for mental health.</a></li>
                <li>Contact your GP surgery for other non-urgent medical help.</li>
              </ul>
          </div>
        </section>

        </div>
      </div>
      </article>



  </div>
</div>
{% endblock %}

