<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Information Architecture Team
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>NHS.UK Platform Health</h1>
      <h2>CMS & Navigation Prototype</h2>
      <p>Index of prototypes created and maintained by the CMS & Nav Team.</p>
      <p>The GitHub repository can be found <a href="https://github.com/BrieWhyatt/nhsuk-page-templates-prototype">here</a>.</p>
      <p>To amend any Heroku connections, please find an admin for Heroku in the #nhsuk-design channel on Slack, or talk to Zelda.</p>
      <hr>
      <h3>Sub topic hubs</h3>
      

      <ul>
        <li>
          <a href="sub-topic-1/home">Home page start page for H2 style sub-topic hub</a>
        </li>
        <li>
          <a href="sub-topic-2/home">Home page start page for hub to hub sub-topic</a>
        </li>
      </ul>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Research questions
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li></li>
          </ul>
        </div>
      </details>


      <hr>

     

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
