<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Catchments & Contact us
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>NHS.UK Catchments and Contact us</h1>
      <h2>Contact us discovery prototype</h2>
      <p>This is the main prototype for the discovery around the contact us section of the website.</p>
      <p>Will will be using this prototype to prove, or disprove, our hypothesis that bringing the form in line with other NHS transactional service patterns, will reduce the rate at which the service desk receive incorrectly raised tickets.</p>
      <p>The GitHub repository can be found <a href="https://github.com/BrieWhyatt/nhsuk-contact-us-prototype">here</a>.</p>
      <p>To amend any Heroku connections, please find an admin for Heroku in the #nhsuk-design channel on Slack, or talk to Zelda.</p>
      <div class="nhsuk-u-padding-bottom-4"></div>

<hr>        

<h3>Version 2</h3>
    <ul>
      <li>
        <a href="contact-us-2/contact-the-nhs">Contact the NHS (Hub)</a>
      </li>
      <li>
        <a href="contact-us-2/v2/get-medical-help">Get medical help</a>
      </li>
      <li>
      <a href="contact-us-2/v2/find-out-how-to-book-cancel-or-change-and-appointment">Find out how to book, cancel or change and appointment</a>
      </li>

      <li>
        <a href="contact-us-2/contact-the-nhs-website-team">Service start page</a>
      </li>
      <li>
        <a href="contact-us-2/form/check-your-answers">Check answers page</a>
      </li>
      <li>
        <a href="contact-us-2/form/your-message-has-been-submitted">Confirmation page</a>
      </li>


      <li>
        <a href="contact-us-2/v2/find-out-how-to-leave-a-review-of-an-nhs-service">Find out how to leave a review of an NHS service</a>
      </li>
      <li>
        <a href="contact-us-2/v2/find-out-how-to-get-help-with-something-else">Find out how to get help with something else</a>
      </li>
    </ul>

    <h4>Error pages</h4>
    <ul>
      <li>
        <a href="contact-us-2/form/why-are-you-contacting-the-NHS-website-team-today-error">Reason for contacting (error page)</a>
      </li>
      <li>
        <a href="contact-us-2/form/what-are-your-contact-details-email-error">Contact details (email error page)</a>
      </li>
      <li>
        <a href="contact-us-2/form/what-are-your-contact-details-email-format-error">Contact details (email format error page)</a>
      </li>
      <li>
      <a href="contact-us-2/form/tell-us-why-you-are-contacting-the-NHS-website-team-error">Feedback page (error page)</a>
      </li>
      <li>
        <a href="contact-us-2/form/check-your-answers-error">Check your answers page (error page)</a>
      </li>
    </ul>





      <hr>
      <h3>Version 1</h3>

      <ul>

        <li>
          <a href="/contact-us/index">Contact us main topic hub</a>
        </li>
        <li>
          <a href="/contact-us/start-page">Service start page</a>
        </li>
        <li>
          <a href="/contact-us/form/check-answers">Check answers page</a>
        </li>
        <li>
          <a href="/contact-us/form/confirmation">Confirmation page</a>
        </li>
      </ul>


      <hr>

     

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
