<!-- Extends the layout from /views/layout.html -->
{% extends 'template-1.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Contact the NHS - NHS
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/home" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Contact the NHS</h1>
    </div>

    <article>
    
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="get-medical-help">
                  Get medical help
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Where to find emergency and non-emergency medical help.</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="find-out-how-to-book-cancel-or-change-an-appointment">
                  Find out how to book, cancel or change an appointment
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>About booking and changing appointments including online and the NHS e-Referral service</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="http://www.nhs.uk/contact-us/nhs-app-contact-us/">
                  Contact the NHS App team
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Get help with using the NHS App, including setting up an account.</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="contact-the-nhs-website-team-v1">
                  Contact the NHS website team
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Tell us if anything is wrong with the NHS website such as an error or something not working.</p></div>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="find-out-how-to-leave-a-review-of-an-nhs-service">
                  Find out how to leave a review of an NHS service
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>How to leave a rating and review of an NHS health and social care service.</p></div>
            </div>
          </div>
        </li>
        

        
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="how-to-complain-to-the-nhs">
                  Find out how to make a complaint about an NHS service 
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Find out how to complain about any aspect of NHS care.</p></div>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="find-out-how-to-get-help-with-something-else">
                  Find out how to get help with something else
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Including how to get your medical records or find your NHS number.</p></div>
            </div>
          </div>
        </li>
      </ul>


        

      <p><a href="javascript:void(0);">Contacts for professionals</a></p>
     
  
      </article>

      

  </div>
</div>
{% endblock %}

